[user]
    email  = angel.campoverde@cern.ch
    name   = Angel Campoverde
[pull]
    rebase = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
    ac=add .
    br=branch
    cm=commit
    dn=diff --name-only
    cl=clone
    st=status
    rs=reset
    # ------------------
    po =push    origin
    pom=push    origin master
    poh=push -u origin HEAD 
    # ------------------
    co =checkout
    cob=checkout -b
[init]
	defaultBranch = master
[http]
	proxy = socks5h://127.0.0.1:8080
[https]
	proxy = socks5h://127.0.0.1:8080
